
    /*****************************************************************************
    *   Contains all style attributes the html page makes use of.
    *
    *   @author     Christopher Stock
    *   @version    0.0.1
    *****************************************************************************/
    body.testBody
    {
        margin:                     0px;
        padding:                    0px;
        overflow-x:                 auto;
        overflow-y:                 scroll;
        background:                 #ffffff url( ../res/image/logoBootstrap.png ) no-repeat center top;
    }

    @media (min-width: 1200px)
    {
        .container
        {
            width:                  1150px;
        }
    }

    div.testMainContainer
    {
        padding:                    0px;
        background:                 rgba( 200, 200, 200, 0.4 );
    }

    div.testRow
    {
        margin:                     0px;
        padding:                    0px;
        background:                 rgba( 255, 0, 0, 1.0 );
    }

    div.testExampleColumn
    {
        margin:                     0px;
        padding:                    0px;
        background:                 rgba( 255, 255, 0, 1.0 );
    }
