
    /*****************************************************************************
    *   Contains all style attributes the html page makes use of.
    *
    *   @author     Christopher Stock
    *   @version    0.0.1
    *****************************************************************************/
    body.bootstrapTest
    {
        margin:                     25px auto 25px auto;
        overflow-x:                 auto;
        overflow-y:                 scroll;
        text-align:                 center;
        background:                 #ffffff url( ../res/image/logoBootstrap.png ) no-repeat right top;
    }
